-i https://pypi.org/simple/
arrow==1.0.3
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
flask==1.0.2
gevent==1.5.0
greenlet==1.0.0 ; platform_python_implementation == 'CPython'
idna==2.10
iso8601==0.1.14
itsdangerous==1.1.0
jinja2==2.11.3
leancloud==2.1.10
markupsafe==1.1.1
python-dateutil==2.8.1
qiniu==7.2.2
requests==2.25.1
six==1.15.0
typing-extensions==3.7.4.3 ; python_version < '3.8'
urllib3==1.26.4
werkzeug==1.0.1
