-i https://pypi.org/simple/
arrow==1.1.0
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
flask==1.0.2
gevent==1.5.0
greenlet==1.1.0 ; platform_python_implementation == 'CPython'
idna==2.10
importlib-metadata==4.4.0 ; python_version < '3.8'
iso8601==0.1.14
itsdangerous==2.0.1
jinja2==3.0.1
leancloud==2.1.10
markupsafe==2.0.1
python-dateutil==2.8.1
qiniu==7.2.2
requests==2.25.1
six==1.16.0
typing-extensions==3.10.0.0 ; python_version < '3.8'
urllib3==1.26.5
werkzeug==2.0.1
zipp==3.4.1
